{% load staticfiles %}
<html>
	<head>
		<title>Genomelens Application Demonstration </title>
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" >
	</head>

	<body style="padding-left: 20px;">
		<div style="padding-top: 20px; padding-bottom: 10px; padding-left: 850px;">
			<a href="/logout/">Log out</a>
			<br>
			<a href="/upload/list">Upload</a>
		</div>

		<div style="padding-top: 10px;">
			<b>List of uploaded VCF files</b>
		</div>

		{% if documents %}
			<ul>
			{% for document in documents %}
				<li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a> 
					<a href="/geneview/" style="text-decoration: none; color: #000000;" ><input type="submit" value="GenView"/></a>
					<a href="/app1/ancestry/" style="text-decoration: none; color: #000000;"><input type="submit" value="Ancestry"/></a>
					<a href="/app3/" style="text-decoration: none; color: #000000;"><input type="submit" value="VCFstats"/></a>
					<input type="submit" value="Share"/>
					
			        <form style="display: inline" action="{% url 'delete_f' %}" method="post" enctype="multipart/form-data">
			        {% csrf_token %}
			        <input type="hidden" name="docfile" value="{{ document.pk }}" />
			        <input type="submit" value="Delete" />
			        </form>
        		</li>
        		<br>
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
        <form action="." enctype="multipart/form-data" method="post" >
            {% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>


        	<div style="padding-top: 10px;">
				<b>Available Applications</b>
			</div>

			<div style="padding-top: 10px;">
				<a href="/geneview/geneview/"> GenView </a>
			</div>

			<div style="padding-top: 10px;">
				<a href="/app1/ancestry/"> Ancestry </a>
			</div>

			<div style="padding-top: 10px;">
				<a href="/app3/"> VCFstats </a>
			</div>
        


	</body>
</html>
