{% load staticfiles %}
<html>
  <head>
    <title>Genome Lens Application Demonstration </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" >
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen" >
	<link rel="stylesheet" href="{% static 'bootstrap/css/normalize.css'%}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/style.css'%}">
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans:700,400' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="{% static 'bootstrap/js/floating-1.12.js'%}"></script>
	
  </head>
 <!--  <style>

    body {
    /* Margin top by navbar height */
    padding-top: 70px;
    /* Margin bottom by footer height */
    padding-bottom: 60px;
    }

    .navbar .container {
    width: auto;
    }

    /* Sticky footer styles */
    html {
    position: relative;
    min-height: 100%;
    }

    .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    }

    .container .text-muted {
    margin: 20px 0;
    }

  </style>
 -->
  <body>
					{% for document in documents %}
					<div id="floatdiv"  class="hide-nav">
						
						<li><button>toolss</button></li>
						<li><a href="{{ document.docfile.url }}">{{ document.filename }}</a>
							<form style="display: inline" action="/gemini/" method="post">
								{% csrf_token %}
								<input type="hidden" name="vcf_name" value="{{ document.filename }}" />
								<input type="hidden" name="vcf_id" value="{{ document.id }}" />
								<input type="submit" value="Variant Filters"/>
							</form>

							<form style="display: inline" action="/app1/ancestry/" method="post">
								{% csrf_token %}
								<input type="hidden" name="vcf_path" value="{{ document.docfile.name }}" />
								<input type="hidden" name="vcf_id" value="{{ document.id }}" />
								<input type="submit" value="Ancestry" />
							</form>
							  
							  <!-- <a href="/app1/ancestry/" style="text-decoration: none; color: #000000;"><input type="submit" value="Ancestry"/></a> -->
						  <!-- <a href="/app1/ancestry/" style="text-decoration: none; color: #000000;"><input type="submit" value="Ancestry"/></a> -->

							<form style="display: inline" action="/vcfstats/" method="post">
								{% csrf_token %}
								<input type="hidden" name="vcf_path" value="{{ document.docfile.name }}" />
								<input type="hidden" name="vcf_id" value="{{ document.id }}" />
								<input type="submit" value="VCFstats"/>
							</form>
							  {% for app in apps %}
							<form style="display: inline" action="{{ app.1 }}" method="post">
								{% csrf_token %}
								<input type="hidden" name="vcf_path" value="{{ document.docfile.name }}" />
								<input type="hidden" name="vcf_id" value="{{ document.id }}" />
								<input type="submit" value= "{{ app.0 }}"/>
							</form>
							  {% endfor %}

						  <!-- <a href="/vcfstats/" style="text-decoration: none; color: #000000;"><input type="submit" value="VCFstats"/></a> -->
						  <input type="submit" value="Share"/>

							<form style="display: inline" action="{% url 'delete_f' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input type="hidden" name="docfile" value="{{ document.pk }}" />
								<input type="submit" value="Delete" />
								<br />
								File metadata: 
								{{document.content}}
							</form>
						</li>
						
						
						
					</div> <!-- /floatdiv -->
					{% endfor %}
					
		<div id="content-container">
			<header id="main-header">
				<h1 class="main-logo">
					<a href="/"><img class="main-logo"  src="{% static 'GenomeLensLgtbluHeader.png' %}" alt="GenomeLens logo"></a>
				</h1>
				<ul class="user-buttons bold">
					<!-- <li><a href="/login/">Sign in</a>
					<li><a href="/register/">Register</a> -->
					<li><a href="#">{{ username }}</a></li>
					<li><a href="/logout/">Logout</a></li>
					
				</ul>
				<ul class="main-nav bold">
					<li ><a href="/" >Home</a>
					<li ><a href="/support/">About</a>
					<li><a href="/support/">Research</a>
					<li><a href="/support/">Contact</a>
				</ul>
					
			</header>
  
  
			<!-- Fixed navbar -->
<!-- 			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="#">Genome Lens</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
				  <ul class="nav navbar-nav navbar-right">
				<li><a href="#">{{ username }}</a></li> <Link to user management ->
				<li><a href="/logout/">Logout</a></li>
				  </ul>
				</div><!--/.nav-collapse ->
			  </div>
			</nav>  -->   

			<div class="main-content text-content user-content">

				<div>
					<b>List of uploaded VCF files:</b>
				</div>

				  {% if documents %}
				  <ul>
					{% for document in documents %}
					
					<li><a href="" class="toggle-tools">Apps</a>
					<li class="apps"> <a href="{{ document.docfile.url }}">{{ document.filename }}</a>
											
						  <!-- <a href="/vcfstats/" style="text-decoration: none; color: #000000;"><input type="submit" value="VCFstats"/></a> -->
						  <input type="submit" value="Share"/>

							<form  style="display: inline" action="{% url 'delete_f' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input type="hidden" name="docfile" value="{{ document.pk }}" />
								<input type="submit" value="Delete" />
								<br>
								File metadata: 
								{{document.content}}
							</form>
						
						<div class="app-nav hide-nav">
							<form id="myForm" target="blank" style="display: inline" action="/gemini/" method="post">
								{% csrf_token %}
								<input type="hidden" name="vcf_name" value="{{ document.filename }}" />
								<input type="hidden" name="vcf_id" value="{{ document.id }}" />
								<input class="UI" type="submit" value="Variant Filters"/>
								<script>
								
								</script>
							</form>

							<form style="display: inline" action="/app1/ancestry/" method="post">
								{% csrf_token %}
								<input type="hidden" name="vcf_path" value="{{ document.docfile.name }}" />
								<input type="hidden" name="vcf_id" value="{{ document.id }}" />
								<input class="UI" type="submit" value="Ancestry" />
							</form>
							  
							  <!-- <a href="/app1/ancestry/" style="text-decoration: none; color: #000000;"><input type="submit" value="Ancestry"/></a> -->
						  <!-- <a href="/app1/ancestry/" style="text-decoration: none; color: #000000;"><input type="submit" value="Ancestry"/></a> -->
						  
							
							<form style="display: inline" action="/vcfstats/" method="post">
								{% csrf_token %}
								<input type="hidden" name="vcf_path" value="{{ document.docfile.name }}" />
								<input type="hidden" name="vcf_id" value="{{ document.id }}" />
								<input type="submit" class="UI"  value="VCFstats"/>
							</form>
													<form style="display: inline" action="/vcfstats/" method="post">
								{% csrf_token %}
								<input type="hidden" name="vcf_path" value="{{ document.docfile.name }}" />
								<input type="hidden" name="vcf_id" value="{{ document.id }}" />
								<input type="submit" class="UI"  value="VCFstats"/>
							</form>
													<form style="display: inline" action="/vcfstats/" method="post">
								{% csrf_token %}
								<input type="hidden" name="vcf_path" value="{{ document.docfile.name }}" />
								<input type="hidden" name="vcf_id" value="{{ document.id }}" />
								<input type="submit" class="UI"  value="VCFstats"/>
							</form>
													<form style="display: inline" action="/vcfstats/" method="post">
								{% csrf_token %}
								<input type="hidden" name="vcf_path" value="{{ document.docfile.name }}" />
								<input type="hidden" name="vcf_id" value="{{ document.id }}" />
								<input type="submit" class="UI"  value="VCFstats"/>
							</form>
													<form style="display: inline" action="/vcfstats/" method="post">
								{% csrf_token %}
								<input type="hidden" name="vcf_path" value="{{ document.docfile.name }}" />
								<input type="hidden" name="vcf_id" value="{{ document.id }}" />
								<input type="submit" class="UI"  value="VCFstats"/>
							</form>
							  {% for app in apps %}
							<form style="display: inline" action="{{ app.1 }}" method="post">
								{% csrf_token %}
								<input type="hidden" name="vcf_path" value="{{ document.docfile.name }}" />
								<input type="hidden" name="vcf_id" value="{{ document.id }}" />
								<input type="submit" value= "{{ app.0 }}"/>
							</form>
						</div> <!--toggle-tools-->
						  {% endfor %}
						<!-- <div class="">
						  <!-- <a href="/vcfstats/" style="text-decoration: none; color: #000000;"><input type="submit" value="VCFstats"/></a> --
						  <input type="submit" value="Share"/>

							<form style="display: inline" action="{% url 'delete_f' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input type="hidden" name="docfile" value="{{ document.pk }}" />
								<input type="submit" value="Delete" />
								<br />
								File metadata: 
								{{document.content}}
							</form>
						</div> -->
					</li>
					
					
					{% endfor %}
				  

				  {% else %}
				  <p>No documents.</p>
				  {% endif %}

				  <!-- Upload form. Note enctype attribute! -->
				  <form action="." enctype="multipart/form-data" method="post">
				{% csrf_token %}
				<p>{{ form.non_field_errors }}</p>
				<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
				<p>
				  {{ form.docfile.errors }}
				  {{ form.docfile }}
				</p>
				<div>
				  <b> Description of File Content: </b><br>
				  {{ form.content }}
				</div>
				<p><input type="submit" value="Upload" /></p>
				  </form>
					
			</div> <!-- /main-content -->
			
		</div> <!-- /content-container -->

		<footer class="main-footer">
		<div class="nav-container">
			<ul class="mainlower-nav">
				<li><a href="/" >Home</a>
				<li><a href="about.html">About</a>
			</ul>
			<ul class="mainlower-nav">	
				<li><a href="research.html">Research</a>
				<li><a href="contact.html">Contact</a>
			</ul>
			<ul class="mainlower-nav">
				<li><a href="Support.html">Support</a>
				<li><a href="GetStarted.html">GetStarted</a>
			</ul>
			<ul class="mainlower-nav pressfix">	
				<li class="pressfix"><a href="Help.html">Help Center</a>
				<li><a href="Terms.html">Privacy &<wbr> Terms</a>
			</ul>
		</div>
		
			<p>UCSD Bioinformatics &copy; 2015</p>
		</footer>
		
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">  
			floatingMenu.add('floatdiv',  
				{  
					// distance from left or right browser window  
					// border  
					// targetLeft: 0,  
					targetRight: 20,  
		  
					//  distance from top or bottom browser window border    

					targetTop: 20,  
					// targetBottom: 0,  
		  
					//centering on  
					// X- or Y- axis.  
					//centerX: true,  
					 centerY: true,  
		  
					// Remove this one if you don't want snap effect  
					snap: true  
				});
		</script>  -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 	
		<script>
			/*On Dom Ready           
			====================================*/
			$(function() {
			  $('.toggle-tools').click(function() {
				// Calling a function in case you want to expand upon this.
				if($(this).addClass().parent().next().children("div.app-nav").hasClass('hide-nav')){
				$(this).addClass().parent().next().children("div.app-nav").removeClass('hide-nav');
				}
				else{
				
				$(this).addClass().parent().next().children("div.app-nav").addClass('hide-nav');
				}
				
				
				var index=$('.toggle-tools').index(this);
				console.log(index);
				
				
					
				return false;
			  });
			  appCheck()
			});
			

			/*Custom Functions            
			========================================
			function toggleNav() {
			if ($('#floatdiv').hasClass('hide-nav')) {
			  // Do things on Nav Open
			 <!-- $('#floatdiv').addClass('show-nav') -->
			 <!-- $('#floatdiv').removeClass('hide-nav') -->
			 $('#floatdiv').addClass('hide-nav')
			} else {
			  // Do things on Nav Close
			 <!-- $('#floatdiv').removeClass('show-nav') -->
			 <!-- $('#floatdiv').addClass('hide-nav') -->
			 $('#floatdiv').removeClass('hide-nav')
			}

			$('#floatdiv').toggleClass('hide-nav');
			return false;
			}*/
						/*Custom Functions            
			========================================
			function toggleNav(index) {
			if ($('.app-nav').hasClass('hide-nav')) {
			  // Do things on Nav Open
			 <!-- $('#floatdiv').addClass('show-nav') -->
			 <!-- $('#floatdiv').removeClass('hide-nav') -->
			 $('.app-nav').addClass('hide-nav')
			} else {
			  // Do things on Nav Close
			 <!-- $('#floatdiv').removeClass('show-nav') -->
			 <!-- $('#floatdiv').addClass('hide-nav') -->
			 $('.app-nav').removeClass('hide-nav')
			}
			console.log("this"+$(this).next('div'));
			<!-- $('.app-nav').toggleClass('hide-nav'); -->
			$('.app-nav').toggleClass('hide-nav')
			return false;
			}*/
					/*Check in app is ready        
			========================================*/
			function appCheck()
			{
			var response = '';
			var a=0;
			
			
			$('#myForm').ajaxForm({
										url : '/gemini/', // or whatever
										dataType : '',
										success : function (response) 
										{
											console.log(response==0);
											console.log("The server says: " + response);
												if(response==0)
												{
													document.forms['myForm'].submit();
													console.log("sent");
												}
												else
												{
												
													console.log("repeat");
												}
										}
										
								})
			}
		 </script>
  </body>
</html>