h1 {
	text-align:center;
}
h2 {
	text-align:center;
}
p {
	text-align:center;
}
img.lollipop {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: auto;
}
div.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 5px; 
	padding: 5px;
	border: 1px solid #0000ff;
    height: auto;
    width: auto;
    text-align: center; 
}
div.img img {
    display: inline;
    margin: 5px;
	max-width: 100%;
	max-height:100%
    border: 1px solid #ffffff;
}
div.img a:hover img {
    border: 1px solid #0000ff;
}
div.desc {
  text-align: center;
  font-weight: normal;
  width: auto;
  margin: 5px;
}
.center {
	margin-left: auto;
	margin-right: auto;
}