<!DOCTYPE html>
<html>
    <head>
        <!-- Your Code Goes Here -->
        {% load staticfiles %}
    </head>

    <meta charset="utf-8"></meta>
    
    <style>
        <!-- Control Style Here -->
        text {font: 14px sans-serif;}
        .navbar .container {width: auto;}
        .axis path,
        .axis line {
            fill : none;
            stroke : #000;
            shape-rendering : crispEdges;
        }
    </style>

    <body>
        <script type="text/javascript">
          var test = '{{ d|safe }}';

          var data = JSON.parse(test);
        </script>
        <!-- Your Code Goes Here -->
        <!-- Example of package included if d3js used:
        <script src="http://d3js.org/d3.v3.min.js"></script>
        -->
        <script type="text/javascript" src="{% static 'APPNAME/APPNAME_display.js' %}"></script>
    </body>
</html>
