<html>
  <head>
      {% load staticfiles %}
      <title>{{ gene }}</title>
      <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" >
  </head>
  <center>
    <body>
      <h1>{{ gene }}</h1><br><br>
      <!--<img class="lollipop" src="{{STATIC_URL}}images/{{ gene }}.svg" alt="lollipop gene view of {{ gene }}"><br><br>-->
      <iframe src="{{STATIC_URL}}images/{{ gene }}.svg" height=200 width=90%></iframe>
      <h2>Other Information</h2>
      <p>
        <a href="http://www.ncbi.nlm.nih.gov/gene/?term={{ gene }}">GenBank</a><br>
        <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ gene }}">GeneCards</a><br>
        <a href="http://www.ncbi.nlm.nih.gov/omim/?term={{ gene }}">OMIM</a><br>
        <a href="https://en.wikipedia.org/wiki/{{ gene }}">Wikipedia</a><br>
      </p>
    </body>
  </center>
</html>
