<html>
  <center>
    <head>
      <title>GeneView</title>
      {% load staticfiles %}
      <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" >
    </head>
    <body>
      <h1>GeneView</h1><br>
      <u>List of Genes (Uniprot IDs):</u><br>
      <form action = "." method = "post">
        {% csrf_token %}
        {% for gene in genes %}
        <input type="submit" name="g" value={{ gene }} />
        <br>
      {% endfor %}
      </form>
    </body>
  </center>
</html>
