<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    </head>

    <meta charset="utf-8"></meta>
    
    <style>
        text {font: 14px sans-serif;}
        .navbar .container {width: auto;}
        .axis path,
        .axis line {
            fill : none;
            stroke : #000;
            shape-rendering : crispEdges;
        }
    </style>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Genome Lens</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ user_name }}</a></li> <!--Link to user management -->
                <li><a href="/logout/">Logout</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <script type="text/javascript">
          var test = '{{ d|safe }}';

          var data = JSON.parse(test);
        </script>

        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="{% static 'vcfstats/stack_graph.js' %}"></script>
    </body>
</html>
