<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Ancestry View</title>
    <script src="http://d3js.org/d3.v3.js"></script>
    <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    {% load staticfiles %}
    {% load ancestry_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'ancestryapp/sequences.css' %}" />
  </head>

  <body>
    <div id="main">
      <div id="sequence"></div>

      <!-- Sunburst -->
      <div id="chart">
        <div id="explanation" style="visibility: hidden;">
          <span id="percentage"></span><br/>
          similar to <span id="population"></span>
        </div>
      </div>

      <!-- show drop down menu for all individuals associated with a vcf file -->
      <div id="footer" class="row">
        <div class="col-xs-3">
            <select class="form-control" name="dropdown" id="dropdown" onchange="OnChange()">
              {% for pop in vcf.populationdata_set.all %}
              <option value='{% change vcf pop.identifier %}'>{{ pop.identifier }}</option>
              {% endfor %}
            </select>
        </div>
      </div>

    </div>

    <!-- checkbox for showing the legend -->
    <div id="sidebar">
      <div id="description"></div>
      <div id="percents"></div>
      <input type="checkbox" id="togglelegend"> Legend<br/>
      <div id="legend" style="visibility: hidden;"></div>
    </div>

    <!-- inline javascript to grab initial value to render template -->
    <script type="text/javascript">
        var initial = '{% initial vcf %}';
    </script>

    <!-- Load sequences.js to draw sunburst -->
    <script type="text/javascript" src="{% static 'ancestryapp/sequences.js' %}"></script>
  </body>

</html>
