body {
	margin: 0;
	padding: 0;
	background: #E8E8E8;
}

.styled-button-4 {
	-webkit-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	background-color:#EEE;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border:1px solid #999;
	color:#666;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:11px;
	font-weight:700;
	padding:1px 5px;
	height:22px
}

.styled-button-12 {
	background: #307BEA;
	background: -moz-linear-gradient(top,#307BEA 0%,#307BEA 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#307BEA), color-stop(100%,#5B74A8));
	background: -webkit-linear-gradient(top,#307BEA 0%,#307BEA 100%);
	background: -o-linear-gradient(top,#307BEA 0%,#307BEA 100%);
	background: -ms-linear-gradient(top,#307BEA 0%,#307BEA 100%);
	background: linear-gradient(top,#307BEA 0%,#307BEA 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#307BEA',endColorstr='#5B74A8',GradientType=0);
	padding:2px 6px;
	color:#fff;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:11px;
	font-weight:700;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border:1px solid #1A356E
}

div.top {
	border-style: solid;
	border-color: #FFFFFF #FFFFFF #C0C0C0 #FFFFFF;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	padding: 0 0 0 0; 
	height: 90px; 
	position: fixed; 
	vertical-align: middle;
	white-space: nowrap;
	width: 100%; 
	background: #FFFFFF; 
	z-index: 2;"
}

form.signinform {
	width: 60%; 
	display: inline-block; 
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	text-align: left; 
	background: #E8E8E8; 
	padding-left: 40%; 
	padding-top: 140px;
}

form.login_form {
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	text-align: left; 
	background: #E8E8E8; 
	padding-left: 30%; 
	padding-top: 40px;
}


div.s1 {
	background: #E8E8E8;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif; 
	color: #307BEA; 
	padding-top: 280px;
	padding-bottom: 150px; 
	width: 100%; 
	text-align: right;
	font-weight: bold; 
	z-index: -10;
}

div.s2 {
	width: 100%; 
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	background: #E8E8E8;  
	padding-top: 10px;
	padding-left: 30%;
	padding-bottom: 100px; 
	word-wrap: break-word; 
	text-align: center;
	float: left;
}

div.s3 {
	width: 100%; 
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	background: #E8E8E8;
	color:#307BEA;
	padding-top: 300px; 
	padding-bottom: 300px; 
	word-wrap: break-word; 
	text-align: center;
	float: left;
}

img.logo {
	width: 70px; 
	height: 70px;
	vertical-align: middle;
}

img.backgrd1 {
	float:left;
	padding-top: 100px; 
	padding-left: 10px;
	width: 350px; 
	height: 350px;
	position: relative; 
}

img.backgrd2 {
	padding-top: 10px;
	padding-left: 10px; 
	padding-bottom: 100px;
	width: 304px; 
	height: 228px; 
	float: left;
}

img.backgrd3 {
	padding-top: 10px; 
	padding-bottom: 10px; 
	padding-left: 10px;
	width: 304px; 
	height: 228px; 
	float: left;
}

h2.pos_right {
	position: relative;
	text-align: left;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	left: 100px;
	top: 0px;
}

a {
	text-decoration: none;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
}

a.tl {
	display: inline-block;
	vertical-align: middle;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-weight: normal;
	color: #307BEA;
	background-color: #ffffff;
	width: 140px;
	text-align: center;
	padding-left: -2%;
	font-size:14px;
	text-decoration: none;
}

a.t2 {
	display: inline-block;
	vertical-align: middle;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-weight: normal;
	color: #307BEA;
	background-color: #ffffff;
	width: 80px;
	text-align: center;
	padding-left: -2%;
	font-size:14px;
	text-decoration: none;
}
a.tr1 {
	display: inline-block;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	padding-left: 4px;
	color: solid navy;
	background-color: #E8E8E8;
	width: 120px;
	text-align: center;
	text-decoration: none;
	border: 1px solid navy;
}

a.tr2 {
	display: inline-block;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	padding-left: 4px;
	color: solid navy;
	background-color: #E8E8E8;
	width: 80px;
	text-align: center;
	text-decoration: none;
	border: 1px solid navy;
}

a:hover, a:active {
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	background-color: #A9A9A9;
}

input.lsubmitbar {
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	width: 210px; 
	color: solid navy;
}

li {
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	display: inline;
}

nav {
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	text-align: center;
}

span.logo{
	background-color: white;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
}

footer.footer {
	border-style: solid;
	border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
	clear: both;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
 	overflow: hidden;
 	background: #ffffff;
 	padding-top: 5px;
 	color: #585858;
 	line-height: 1.2;
 	font-size: 16;
 	height: 220px; 
 	text-align: left;
 }