/*Form Styles
================================ */
form {
  background: #fff;
  padding: 20px 20px 20px 10px;
  max-width: 400px;
  margin: 10px auto 20px;
  box-shadow: 0 0 1em #222;
  border-radius: 5px;
}
form p {
  position: relative;
}
label, form p {
  display: block;
  font-size: 25px;
  margin: 0 0 .5em;
  color: #333;
}
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none
}
input[type="text"],
input[type="password"],
input[type="email"] {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  font-size: 25px;
  padding: .8em .5em;
  border-radius: 5px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background: #fff
}
span {
  border-radius: 5px;
  display: block;
  font-size: 17px;
  text-align: center;
  position: absolute;
  background: #C7C7C5;
  left: 105%;
  top: 50px;
  width: 300px;
  padding: 7px 10px;
  visibility: hidden;
}
input[type="text"]:focus + span{
	visibility:visible;
}
span:after {
  right: 100%;
  top: 45%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #C7C7C5;
  border-width: 8px;
  margin-top: -8px;

}
input[type="checkbox"] {
	display: inline;
	width: 20px;
}
input[type="submit"] {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 2em;
  line-height: 1.6em;
  outline: none;
}