/* Body Styles
================================ */
html{


	/* min-width: 831px; */
}

body{
	font-family: 'Droid Sans', sans-serif;
	min-width: 752px;
}
html, body {
	height: 100%;
}
.bold{
	font-weight: bold;
}
#content-container{
	min-height:100%;
}
/*Header Styles
================================ */
#main-header{
	background: #F1F1F1;
	height: 150px;
	width: 100%;
	margin-bottom: 2%;
	padding-top: 1px;
	padding-bottom: 20px;	
}
.main-logo{
	float:left;
	margin-left: 10px;
	height:90%;
}
.main-nav li {
		margin-top: 6px;
		margin-left: 10px;
		display: inline-block;		
	}
.main-nav li a{
	color:black;
	text-decoration: none;
	font-size: 2em;
}

.main-nav{
	display: block;
	text-align: right;
	padding: 10px 20px;
	margin-top: 10px;
}
.user-buttons{
	margin-right: 10px;
	margin-top: 40px;
	text-align: right;
}
.user-buttons li{
	margin-right: 10px;
	text-align:right;
	display: inline-block;
	border-radius: 5px;
}
.user-buttons li a{
	background: white;
	text-decoration: none;
	padding: 5px;
	display: inline-block;
	font-size: 1.5em;
	color: black;
	border-radius: 5px;
	border: 1px solid black;

}
.main-nav a:visited{
	color: black;
}
.main-nav a:hover, .user-buttons a:hover{
	color: #8E8E8D;
}
#selected a{
	color: #8E8E8D;
}
.nav-container{
	height: 75px;
}

/*Main Layout Styles
================================ */
.main-content {

	overflow:auto;
	padding-bottom: 135px;
}
#cover-logo{
	width:80%;
	margin: auto;
	display: block;
}
.text-content{
	
	display: table;
	margin: 0 auto;
	
}
.user-content{
		float:left;
	padding-left: 30%;
}
/*Footer Styles
================================ */
.main-footer{
	width:100%;
	margin-top: -125px;	
	clear:both;
	position: relative;
	height: 125px;
	background: #c4ae8a;
	text-align: center;
}
.main-footer ul{
	width:110px;
	display: inline-block;
}
.mainlower-nav li{
	display:block;
	text-align: left;
	
}
.mainlower-nav a{
	text-decoration: none;
}
.main-footer p{
	text-align: center;
}
/*Floating Menu Styles
================================ */

.hide-nav{
  display:none;

}


#floatdiv{
	color: white;
	position:fixed;  
    width:30%;
	/* top:10px; */
	top: 395px;
	right:10px;  
    padding:16px;
	background-color: rgba(0,0,0,0.5);  
    border:2px solid #2266AA;  
    z-index:100;
	margin-right: 10px;	
}
#toolbox {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -50px;
  background: #428bca;
  padding: 15px;
}
/*App styles
================================ */

.app-nav form:nth-of-type(1n) input[type="submit"] {
	background: #C64647;
	width:150px;
	height: 150px;
	
}
.apps form:nth-of-type(2n) input[type="submit"]{
	background: #C38146;
}
.apps form:nth-of-type(3n) input[type="submit"]{
	background: #BC4C9C;
}
.apps form:nth-of-type(4n) input[type="submit"]{
	background: #459DC4;
}
.apps form:nth-of-type(5n) input[type="submit"]{
	background: #52BB77;
}
