{% load staticfiles %}
	<head>
		<title>Genome Lens Application</title>
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" >
		<link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen" >
	</head>
	<style>
	body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}
	</style>

	<body>

		<div class="container theme-showcase" role="main">
			<div class="jumbotron">
	        	<h1>Genome Lens</h1>
			<h3>A Platform for Genomic Exploration</h3>
	        </div>

	    <div style="display: inline-block; width: 40%; padding-left: 20px; text-align: center;">
			<a class="btn btn-default btn-lg btn-block" href="/login/" role="Login">Log in</a>
			<br />
        	<p>Or</p>
			<a class="btn btn-default btn-lg btn-block" href="/register/" role="button">Sign up</a>
		</div>


		<div>
			<footer class="footer" role="contentinfo">
				<div style="display: inline-block; padding-left: 20%;">
					<p>About us</p>
					<p>Contact </p>
				</div>
				<div style="display: inline-block; padding-left: 20%;">
					<p>Support</p>
					<p>Get started</p>
				</div>
				<div style="display: inline-block; padding-left: 20%;">
					<p>Help center</p>
					<p>Privacy &amp terms</p>
				</div>
				<div style="text-align: center;">
					<p>CSE & Bioinformatics @ UCSD</p>
				</div>
			</footer>
		</div>

	</body>
</html>
