<!DOCTYPE html>
<html>
	<head>
		<title>GenLens</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/static/sitestyle.css" type="text/css" >
	</head>

	<body>

		<div class="top">
			<nav>
				<ul>
					<li><a class="tl" href="/about">GenLens Demo</a></li>
					<li style="padding-left: 80px"><img class="logo" src="/static/logo_pic.jpg"><span style="logo"><font color=#307BEA size="6">GenLens</font></span></li>
					<li style="padding-left: 80px"><a href="/register/">
						<input type="submit" class="styled-button-4" value="Register" /> </a></li>
					<li style="padding-left: 50px"><a class="styled-button-12" href="/login">Sign in</a></li>
				</ul>
			</nav>
		</div>

		<img class="backgrd1" src="/static/logo_pic.jpg" alt="Logo Image">


		<div class="s1"> 
			<h2 class="pos_right">
				GenLens 
				<br>
				<p style="word-wrap: break-word;">
					SOME DESCRIPTION HERE...
				</p>
				</h2>
		</div>

		{% extends "registration/base.html" %}
		{% block content %}

		<div class="s2">
		  {% if form.errors %}
		  <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
		  {% endif %}
		  
		  <form class="signinform" method="post" action="" class="wide">
			{% csrf_token %}
		    <p>
		      <label for="id_usrname">User Name:</label>
		      {{ form.username }}
		    </p>
		    <p>
		      <label for="id_email">Email Address:</label>
		      {% if form.email.errors %}
		        <p class="errors">{{ form.email.errors.as_text }}</p>
		      {% endif %}
		      {{ form.email }}
		    </p>
		    <p>
		      <label for="id_password1">Password:</label>
		      {% if form.password1.errors %}
		        <p class="errors">{{ form.password1.errors.as_text }}</p>
		      {% endif %}
		      {{ form.password1 }}
		    </p>
		    <p>
		      <label for="id_password2">Confirm Password:</label>
		      {% if form.password2.errors %}
		        <p class="errors">{{ form.password2.errors.as_text }}</p>
		      {% endif %}
		      {{ form.password2 }}
		    </p>

		    <input type="checkbox" name="agreement" value="yesno">I agree to GenLens terms<br>
		    <input class="lsubmitbar" type="submit" value="Register &rarr;" >

		  </form>

		  <img class="backgrd2" src="/static/can-stock-photo_csp11681668.jpg" alt="Logo Image";>
		</div>

		<div class="s3">
			<img class="backgrd3" src="/static/images-humangenomesequencing.jpg" alt="Logo Image";>
			<p>
				ANOTHER SECTION: IMAGE OR TEXT DESCRIPTION
				<br>
				PLACEHOLDER
			</p>
		</div>


		<div class="ip">
			<div>
			<footer class="footer" role="contentinfo">
				<div style="padding: 1rem; ">
					<div style="text-align: center;">Bioinformatics group at UCSD &amp; fine print</div>
				</div>
			</footer>
			</div>
		</div>
		{% endblock %}
	</body>
</html>