<!DOCTYPE html>
<html lang="en">
<head>
    <title>GenomeLens</title>
</head>
<body>
<div style="margin: 0; padding: 0; width: 79%; position: relative; display:inline-block;">
<div style="float: left;">
<div id="sidebar">
    {% block sidebar %}
    <ul>
        <li><a href="/">Home</a></li>

        {% if user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
        {% endif %}
    </ul>
    {% endblock %}
</div>

<div id="content">  
    {% block content %}
    {% endblock %}
</div>


</body>
</html>