<html>
	<head>
		<title>Genome Lens Application Demonstration </title>
	</head>

	<body>
		<div style="padding-top: 10px;">
			<b>List of uploaded VCF files:</b>
		</div>

		{% if documents %}
			<ul>
			{% for document in documents %}
				<li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
        <form action="{%url "demo" %}" enctype="multipart/form-data" method="post" action=".">
            {% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>


        	<div style="padding-top: 10px;">
				<b>Available Applications</b>
			</div>

			<div style="padding-top: 10px;">
				<a href="/geneview/geneview/"> GenView App </a>
			</div>

			<div style="padding-top: 10px;">
				<a href="/app1/ancestry/"> Ancestry App </a>
			</div>

			<div style="padding-top: 10px;">
				<a href="/app3/"> VCFstats App </a>
			</div>
        


	</body>
</html>
