<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
    <title>{% block title %}templates/mainmenu.html{% endblock %}</title>
</head>
<body>

<div id="content">
    {% block content %}
    Main Menu <br>
    <a href="/app1/">Application 1</a> <br>
    <a href="/app2/">Application 2</a> <br>
    <a href="/app3/">Application 3</a> <br>
    {% endblock %}

</div>

</body>
</html>