{% load staticfiles %}
    <head>
        <title>Genome Lens Application Demonstration </title>
 		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" >
		<link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen" >
		<link rel="stylesheet" href="{% static 'bootstrap/css/normalize.css'%}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/style.css'%}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/form.css'%}">
		<link href='https://fonts.googleapis.com/css?family=Droid+Sans:700,400' rel='stylesheet' type='text/css'>	
	</head>


    <body>
		<div id="content-container">
			<header id="main-header">
				<h1 class="main-logo">
					<a href="/"><img class="main-logo"  src="{% static 'GenomeLensLgtbluHeader.png' %}" alt="GenomeLens logo"></a>
				</h1>
				<ul class="user-buttons bold">
					<li><a href="/login/">Sign in</a>
					<li id="selected"><a href="/register/">Register</a>
				</ul>
				<ul class="main-nav bold">
					<li ><a href="/" >Home</a>
					<li ><a href="/support/">About</a>
					<li><a href="/support/">Research</a>
					<li><a href="/support/">Contact</a>
				</ul>
					
			</header>
			<div class="main-content">
			{% if registered %}
			<div style="padding-top: 20px; padding-left: 20px; font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif";>
				<strong>Thank you for registering!  </strong>
				<a href="/login/">You may log in here.</a><br />
			</div>
			{% else %}
		   
			<form style="padding-left: 20px;" id="user_form" method="post" action=""
					enctype="multipart/form-data">

				{% csrf_token %}

				{{ user_form.as_p }}

				<input type="checkbox" name="agreement" value="yesno"> I agree to <a href="/about/">Genome Lens terms</a><br>
				<input type="submit" name="submit" value="Sign up" />
			</form>
			{% endif %}
			</div>
		</div>
		<footer class="main-footer">
			<div class="nav-container">
				<ul class="mainlower-nav">
					<li><a href="/" >Home</a>
					<li><a href="about.html">About</a>
				</ul>
				<ul class="mainlower-nav">	
					<li><a href="research.html">Research</a>
					<li><a href="contact.html">Contact</a>
				</ul>
				<ul class="mainlower-nav">
					<li><a href="Support.html">Support</a>
					<li><a href="GetStarted.html">GetStarted</a>
				</ul>
				<ul class="mainlower-nav pressfix">	
					<li class="pressfix"><a href="Help.html">Help Center</a>
					<li><a href="Terms.html">Privacy &<wbr> Terms</a>
				</ul>
			</div>
		
			<p>UCSD Bioinformatics &copy; 2015</p>
		</footer>
    </body>
</html>
