<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
    <title>{% block title %}templates/mainmenu.html{% endblock %}</title>
</head>
<body>

<div id="content">
    {% block content %}
    Main Menu
    <a href="/statinfo/">Stat Info</a>
    {% endblock %}

</div>

</body>
</html>