{% load staticfiles %}
	<head>
		<title>Genome Lens Application</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" >
		<link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen" >
		<link rel="stylesheet" href="{% static 'bootstrap/css/normalize.css'%}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/style.css'%}">
		<link href='https://fonts.googleapis.com/css?family=Droid+Sans:700,400' rel='stylesheet' type='text/css'>
		
	</head>

	<body>
		<div id="content-container">
			<header id="main-header">
				<h1 class="main-logo">
					<a href="/"><img class="main-logo"  src="{% static 'GenomeLensLgtbluHeader.png' %}" alt="GenomeLens logo"></a>
				</h1>
				<ul class="user-buttons bold">
					<li><a href="/login/">Sign in</a>
					<li><a href="/register/">Register</a>
				</ul>
				<ul class="main-nav bold">
					<li><a href="/" >Home</a>
					<li ><a href="/support/">About</a>
					<li><a href="/support/">Research</a>
					<li><a href="/support/">Contact</a>
				</ul>
					
			</header>
			<div class="main-content">
				<img id="cover-logo" src="{% static 'uconst.png' %}">
				<div class= "push"></div>

			</div>
		</div>

		<footer class="main-footer">
		<div class="nav-container">
			<ul class="mainlower-nav">
				<li><a href="/" >Home</a>
				<li><a href="about.html">About</a>
			</ul>
			<ul class="mainlower-nav">	
				<li><a href="research.html">Research</a>
				<li><a href="contact.html">Contact</a>
			</ul>
			<ul class="mainlower-nav">
				<li><a href="Support.html">Support</a>
				<li><a href="GetStarted.html">GetStarted</a>
			</ul>
			<ul class="mainlower-nav pressfix">	
				<li class="pressfix"><a href="Help.html">Help Center</a>
				<li><a href="Terms.html">Privacy &<wbr> Terms</a>
			</ul>
		</div>
		
			<p>UCSD Bioinformatics &copy; 2015</p>
		</footer>

	</body>
</html>
