<html>
	<head>
    	<title>Input (VCF, 23andme, bedfiles, excel)</title>
	</head>
	<body>
		
		<fieldset>
		
		<div style="padding: 0 0 0 0; width: 100%; margin: 1px;">
		<div>
		<nav style="text-align:center; padding: 3px; background: #dcdddc;">
			<ul>
				<li style="display: inline;"><a href="/">Home</a></li>
				<li style="display: inline;"><a href="/app1/">Application 1</a></li>
				<li style="display: inline;"><a href="/app2/">Application 2</a></li>
				<li style="display: inline;"><a href="/app3/">Application 3</a></li>
				<li style="display: inline;"><a href="/support/">Support</a></li>
				<li style="display: inline;"><a href="/logout/">Logout</a></li>
			</ul>
		</nav>
		</div>
		</div>

		<h1 class="centered">Input (VCF, 23andme, bedfiles, excel)</h1>
		<form action="." method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset>
		    {{form}}
		    <input type="submit" value="Submit" name="submit">
			</fieldset>
			<p> &#9658 Acceptable formats </p>
		</form>
		</fieldset>
	</body>
</html>
