<html>
	<head>
    	<title>Input (VCF, 23andme, bedfiles, excel)</title>
	</head>
	<body>
		<div id="uploaded">
			{% if uploadError %}
			<span class = "error">{{ uploadError }} </span>
			{% else %}
			{{ uploadedFile }}
			{% endif %}
		</div>
	</body>
</html>