{% load staticfiles %}

<html>

  <head>

    <title>GEMINI Query</title>

    <!-- How I used to refer to Bootstrap resources contained within this Django project. -->
    <!--<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" >-->
    <!--<link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen" >-->

    <link href="{% static 'geminiquery.css' %}" rel="stylesheet" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Create separate HTML file as base and extend (look at gemini_browser example) using the following: -->

  </head>

  <style>

    body {
    /* Margin top by navbar height */
    padding-top: 70px;
    /* Margin bottom by footer height */
    padding-bottom: 70px;
    }

    .table-wrapper { height: 900px; overflow: auto; }

    .navbar .container {
    width: auto;
    }

    .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    }

  </style>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Genome Lens</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ user_name }}</a></li> <!--Link to user management -->
            <li><a href="/logout/">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <div style="float:right"><img src="{% static 'GeminiApp/gemini.png' %}" style="width:310px;height314px"></div>

      <div class="jumbotron">

        <h1>GEMINI Database:</h1>

        <p class="lead">{{gemini_db_name}}</p>

        <div style="float:left">

          <form method="post">
            <!--
                TODO: I have a feeling that I shouldn't be re-passing vcf_name
                to the HTML template; this was a hack for the GeminiApp to
                retain name of the VCF file and resulting DB after every query.
                The better way of doing this is probably by using a model.
                GeminiApp/views.py is also involved in this.
              -->
            {% csrf_token %}
            <input type="hidden" name="vcf_name" value="{{ vcf_name }}"/>
            <input type="hidden" name="vcf_id" value="{{ vcf_id }}"/>
	    <b>Query </b><em>example: select chrom, start, end, ref, alt from variants</em>
	    <br>
            <textarea rows="4" cols="50" name="q"></textarea>
            <br>

	    <div class="checkbox">
	      {% if show_samples %}
	      <label><input type="checkbox" name="show-samples-checkbox" value="show-samples" checked>Show Samples</label>
	      {% else %}
	      <label><input type="checkbox" name="show-samples-checkbox" value="show-samples">Show Samples</label>
	      {% endif %}
            </div>

	    <input type="hidden" name="show_samples" value="{{ show_samples }}"/>
            <input type="submit" class="btn btn-lg btn-primary" value="Query"/>

          </form>

        </div>

        <div style="clear:both"/>

      </div>

    </div>

</div>

<div class="gemini_query_output">

  {{output_header}}
  <br>
  <br>

  <!-- TODO: check if query_error is empty before trying to display output -->
  <div class="span12 table-wrapper">
    <table class='table table-striped table-hover table-condensed' data-provides="rowlink">

      <!-- TODO: The following scripts are executing client side;
           they should be executing server side -->

      <thead>
        <tr>
          {% for col in table_header %}
          <th>{{col}}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for row in gemini_query %}
        <tr>
          {% for key, value in row.items %}
          <td>{{value}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  <!-- end of debug-pane -->

</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">CSE & Bioinformatics @ UCSD</p>
  </div>
</footer>

</body>

</html>
